.formulario {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.botones {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.btn {
    width: fit-content;
}

.imagen-previa {
  max-width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}