.no-arrows::-webkit-outer-spin-button,
.no-arrows::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.no-arrows {
    -moz-appearance: textfield;
}

.img-preview {
    display: block;
    margin-top: 10px;
    max-width: 200px;
    max-height: 200px;
    margin-left: auto;
    margin-right: auto;
}

